@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');

body {
    color: $main-text-color;
    background-color: white;

    font-size: $main-font-size;
    font-family: $main-font-family;
}
